
# directories
.deps
autom4te.cache

*.o

aclocal.m4
Makefile
Makefile.in
COPYING
INSTALL
config.log
config.status
configure
depcomp
install-sh
missing
push
stamp-h1

# app-specific
skeleton
skeleton*.tar.gz
skeleton-config.h*
