
# directories
.deps
autom4te.cache

*.o

aclocal.m4
Makefile
Makefile.in
compile
COPYING
INSTALL
config.log
config.status
configure
depcomp
install-sh
missing
push
stamp-h1

# app-specific
itd
itd*.tar.gz
itd-config.h*
